# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
cache/

# Ant build files
build/
dist/

# Java specific
*.class
*.log
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear

# Temporary files
*.tmp
*.temp
*.bak
*.swp
.DS_Store

# IDE specific
*.idea/
*.vscode/
